<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div class="alert alert-danger">
      <h2>Please fix the following <%= "error".pluralize(@post.errors.count) %> then resubmit</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
      We ask that you change any identifying names of people or orginizations
    involved, as this site is only intended to help people get their stories out. Thank you
  </p>

  <div class ="story-form">
   <div class="field col-lg-12">
      <%= f.label :title  %><br>
      <%= f.text_field :title  %>
    </div>
   
    <div class="field col-lg-12">
      <%= f.label :content, "Story"  %><br>
      <%= f.text_area :content, class: "col-lg-6", rows: 10 %>
    </div>
    
    <div class="field col-lg-12">
      <%= f.label :city %><br>
      <%= f.text_field :city %>
    </div>
    <div class="field col-lg-12">
      <%= f.label :state %><br>
      <%= f.text_field :state %>
    </div>
    <div class="field col-lg-12">
      <%= f.label :country, "Country (non-U.S.)" %><br>
      <%= f.text_field :country %>
    </div>
    <div class="field col-lg-12">
       <%= f.submit "Share", class:"btn btn-primary" %>
    </div>
  </div>
  
<% end %>
