<div class="container">
  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>Content:</strong>
    <%= @post.content %>
  </p>
  
  <p>
    <strong>City:</strong>
    <%= @post.city %>
  </p>
  
  <p>
    <strong>State:</strong>
    <%= @post.state %>
  </p>
  
  <p>
    <strong>Country:</strong>
    <%= @post.country %>
  </p>
  
  
  <%= link_to 'Home', root_path %>
</div>

