<div class="container">
  <p id="notice"><%= notice %></p>
  
  <div class="card">
                    <h4>
                        <b>
                           <%= @post.title %> 
                        </b>
                    </h4>
                    
                    <div id="text">
                        <%= @post.content %>
                    </div>
                    
                    <div id="location">
                        <% if @post.state.present? %>
                            <%= @post.city %>,
                            <%= @post.state %>
                        <% else %>
                            <%= @post.city %>,
                            <%= @post.country %> 
                        <% end %>
                    </div>
                </div>
  
  <%= link_to 'Home', root_path %>
</div>

