
<nav class="navbar navbar-default">
    <div class = "container">
      <div class="navbar-header">
        <div class="navbar-brand">
            <%= link_to "Together for Change", root_path %>
            <div id="subtitle">
              stories of sexual abuse
            </div>
        </div>
        
      </div>
      <div class= "navbar-right">
        <%= link_to "About", about_path %>
        <%= link_to "Contact", contact_path %>
        <%= link_to "Help", help_path %>
        <%= link_to "Share Your Story", submit_story_path , 
              class: "btn btn-primary", id: "button" %>
      </div>
    </div>
</nav>
